    <header class="main-header">
        <div class="container header-content">
            <a href="index.html" class="logo"><span>Williams</span> Kaphika</a>

             <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="#team">Portfolio</a></li>
      <li><a href="#contact-form">Contact</a></li>
      
        <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</header>